header {
    background: #BBBBBB;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
    color: black;
    text-decoration: none;
}