* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.banner {
    width: 100%;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

/* classe do conteudo principal */

.principal {
    background: #FEFEFE;
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

/* Classe do mapa */

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888); /* Cor degrade */  
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}


.beneficios {
    background: #888888;
    padding: 3em 0;   
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto;
}

footer {
    text-align: center;
    background: #CCCCCC;
    background: url(../img/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
}
